<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="demo.mapper.order.OrderMapper">

    <insert id="addOrder" parameterType="Order">
    	insert into order(id, name, num, userId, userName) values(#{id}, #{name}, #{num}, #{userId}, #{userName})
    </insert>
</mapper>