<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 打开控制开关 在mybatis3.2.2 以上不需要此设置 <settings> <setting name="logImpl" value="LOG4J" 
		/> </settings> -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>

	<typeAliases>
		<!--给实体类起一个别名 user -->
		<typeAlias alias="Page" type="demo.common.page.Page" />
		<typeAlias alias="User" type="demo.domain.user.User" />
		<typeAlias alias="Order" type="demo.domain.order.Order" />

	</typeAliases>

	<plugins>
		<plugin interceptor="demo.common.page.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*Page.*" />
		</plugin>
	</plugins>

</configuration> 