<?xml version="1.0" encoding="utf-8"?>

<DATAPACKET Version="2.0">
  <METADATA>
    <FIELDS>
      <FIELD attrname="GSXX01" fieldtype="string" WIDTH="10"/>
      <FIELD attrname="CSJQM01" fieldtype="fixed" WIDTH="16"/>
      <FIELD attrname="KCLX" fieldtype="i4"/>
      <FIELD attrname="SPFL01" fieldtype="string" WIDTH="20"/>
      <FIELD attrname="SPFLMC" fieldtype="string" WIDTH="80"/>
      <FIELD attrname="CK01" fieldtype="string" WIDTH="20"/>
      <FIELD attrname="CKMC" fieldtype="string" WIDTH="80"/>
      <FIELD attrname="ZDDM" fieldtype="string" WIDTH="20"/>
      <FIELD attrname="ZDMC" fieldtype="string" WIDTH="80"/>
      <FIELD attrname="SHDM" fieldtype="string" WIDTH="20"/>
      <FIELD attrname="SHMC" fieldtype="string" WIDTH="80"/>
      <FIELD attrname="ZDRQ" fieldtype="dateTime"/>
      <FIELD attrname="SHRQ" fieldtype="dateTime"/>
      <FIELD attrname="TIME01" fieldtype="string" WIDTH="30"/>
      <FIELD attrname="JQM" fieldtype="nested">
        <FIELDS>
          <FIELD attrname="JLID" fieldtype="fixed" WIDTH="32"/>
          <FIELD attrname="GSXX01" fieldtype="string" WIDTH="10"/>
          <FIELD attrname="CSJQM01" fieldtype="fixed" WIDTH="16"/>
          <FIELD attrname="SPXX01" fieldtype="fixed" WIDTH="16"/>
          <FIELD attrname="SPBM" fieldtype="string" WIDTH="20"/>
          <FIELD attrname="SPMC" fieldtype="string" WIDTH="150"/>
          <FIELD attrname="SL" fieldtype="fixed" DECIMALS="4" WIDTH="16"/>
          <FIELD attrname="XH" fieldtype="fixed" WIDTH="16"/>
          <FIELD attrname="ZDSL" fieldtype="fixed" DECIMALS="4" WIDTH="16"/>
          <FIELD attrname="WLDW01" fieldtype="string" WIDTH="20"/>
          <FIELD attrname="DWMC" fieldtype="string" WIDTH="100"/>
          <FIELD attrname="BM01" fieldtype="string" WIDTH="30"/>
          <FIELD attrname="CK01" fieldtype="string" WIDTH="30"/>
          <FIELD attrname="CKMC" fieldtype="string" WIDTH="80"/>
          <FIELD attrname="SMSL" fieldtype="fixed" DECIMALS="4" WIDTH="16"/>
          <FIELD attrname="TIME01" fieldtype="string" WIDTH="20"/>
          <FIELD attrname="CMKC" fieldtype="i4"/>
          <FIELD attrname="CKGSXX" fieldtype="string" WIDTH="10"/>
          <FIELD attrname="JQMMX" fieldtype="nested">
            <FIELDS>
              <FIELD attrname="JLID" fieldtype="fixed" WIDTH="32"/>
              <FIELD attrname="JQM01" fieldtype="string" WIDTH="30"/>
              <FIELD attrname="GSXX01" fieldtype="string" WIDTH="10"/>
              <FIELD attrname="XH" fieldtype="fixed" WIDTH="16"/>
              <FIELD attrname="CSJQM01" fieldtype="fixed" WIDTH="16"/>
              <FIELD attrname="TIME02" fieldtype="string" WIDTH="30"/>
            </FIELDS>
            <PARAMS/>
          </FIELD>
        </FIELDS>
        <PARAMS/>
      </FIELD>
    </FIELDS>
    <PARAMS/>
  </METADATA>
  <ROWDATA>
    <ROW GSXX01="$!{row.GSXX01}" KCLX="$!{row.KCLX}" SPFL01="$!{row.SPFL01}" SPFLMC="$!{row.SPFLMC}" CK01="$!{row.CK01}" CKMC="$!{row.CKMC}" ZDDM="$!{row.ZDDM}" ZDMC="$!{row.ZDMC}">
      <JQM>
      #foreach ($rowjqm in $row.rowjqms)
        <ROWJQM JLID="$!{rowjqm.JLID}" GSXX01="$!{rowjqm.GSXX01}" CSJQM01="$!{rowjqm.CSJQM01}" SPXX01="$!{rowjqm.SPXX01}" SPBM="$!{rowjqm.SPBM}" SPMC="$!{rowjqm.SPMC}" SL="$!{rowjqm.SL}" XH="$!{rowjqm.XH}" 
        		ZDSL="$!{rowjqm.ZDSL}" WLDW01="$!{rowjqm.WLDW01}" DWMC="$!{rowjqm.DWMC}" BM01="$!{rowjqm.BM01}" CK01="$!{rowjqm.CK01}" CKMC="$!{rowjqm.CKMC}" SMSL="$!{rowjqm.SMSL}" CMKC="$!{rowjqm.CMKC}" CKGSXX="$!{rowjqm.CKGSXX}">
          <JQMMX>
          #foreach ($rowjqmmx in $rowjqm.rowjqmmxs)
          #set ($temp=$rowjqmmx)
            <ROWJQMMX JLID="$!{temp.JLID}" JQM01="$!{temp.JQM01}" GSXX01="$!{temp.GSXX01}" XH="$!{temp.XH}" CSJQM01="$!{temp.CSJQM01}" TIME02="$!{temp.TIME02}"/>
          #end
          </JQMMX>
        </ROWJQM>
      #end
      </JQM>
    </ROW>
  </ROWDATA>
</DATAPACKET>

