<?xml version="1.0" encoding="UTF-8"?>
<report xmlns="http://www.cpic.com.cn/epolicy/reportservice"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.cpic.com.cn/epolicy/reportservice report.xsd">
	<parameters>
		<element name="tbrxm" type="Stirng"><!--[CDATA[$tbrxm]]></element>
		<element name="telephone" type="Stirng"><![CDATA[$telephone]]></element>
		<element name="bbxrmc" type="Stirng"><![CDATA[$bbxrmc]]></element>
		<element name="address" type="Stirng"><![CDATA[$address]]></element>
		<element name="zjhm" type="Stirng"><![CDATA[$zjhm]]></element>
		<element name="agentName" type="Stirng"><![CDATA[$agentName]]></element>
		<element name="bdh" type="Stirng"><![CDATA[$bdh]]></element>
		<element name="zhongcai" type="Stirng"><![CDATA[$zhongcai]]></element>
		<element name="zbsj" type="Stirng"><![CDATA[$zbsj]]></element>
		<element name="lsh" type="Stirng"><![CDATA[$lsh]]></element>
		<element name="syrmcone" type="Stirng"><![CDATA[$syrmcone]]></element>
		<element name="qbsj" type="Stirng"><![CDATA[$qbsj]]></element>
		<element name="susong" type="Stirng"><![CDATA[$susong]]></element>
		<element name="qdrq" type="Stirng"><![CDATA[$qdrq]]></element>
		<element name="handlername" type="Stirng"><![CDATA[$handlername]]></element>
		<element name="name" type="Stirng"><![CDATA[$name]]></element>
		<element name="unitname" type="Stirng"><![CDATA[$unitname]]></element>
		<element name="policyPremiumCh" type="Stirng"><![CDATA[$policyPremiumCh]]></element>
		<element name="policyPremium" type="Stirng"><![CDATA[$policyPremium]]--></element>
	</parameters>
</report>
